body {
	font-family: 'Montserrat', sans-serif;
}


.bg-light {
	background: #e0e0e0  !important;
}




nav  a {
color:  #009dee !important;
transition-property: color;
transition-duration: 1s; /
}

nav  a:hover { color: #f06e3d !important;  }


h1{
	
	
	font-family: 'Indie Flower', cursive;
	
	
}