


.bg-light {
	background: #e0e0e0  !important;
}


nav  a {
	font-family: 'PT Sans', sans-serif;
	color:  #009dee !important;
	transition-property: color;
	transition-duration: 1s; /
}

nav a#CodeNames {
	font-family: 'Indie Flower', cursive;	
}

nav  a:hover { color: #f06e3d !important;  }


h1{
	font-family: 'Indie Flower', cursive;	
}

h2{	
	font-family: 'PT Sans', sans-serif;
}
h3{	
	font-family: 'PT Sans', sans-serif;
}
h4{	
	font-family: 'Indie Flower', cursive;
}
label{
	font-family: 'PT Sans', sans-serif;
}

a{
	font-family: 'PT Sans', sans-serif;
}

input value{
	font-family: 'PT Sans', sans-serif;
}

input placeholder {
	font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 990px) {
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 28px;
	}
	h3{
		font-size: 24px;
	}
	h4{
		font-size: 22px;
	}
	nav{
		display: none;
	}
}

@media screen and (max-width: 600px) {
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 22px;
	}
	h3{
		font-size: 18px;
	}
	h4{
		font-size: 16px;
	}
	nav{
		display: none;
	}
}

footer {
	display: inline-block;
	display : table-row;
	height: 100px; /* à titre d'exemple */

}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}



/*--------------------------------------------------------------------------------------  */
/* Pour animer le démarrage de jeu */
.ml4 {
	height: calc(100vh - 160px);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	font-size: 4.5em;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.ml4 .letters {
  position: absolute;
}

body#jeu h1{
	color: #FFFFFF  !important;
}
body#jeu {
	
	background: #000000;
}

/*--------------------------------------------------------------------------------------  */
/* Pour animer la page d'accueil */

.ml5 {
	height: calc(100vh - 160px);
	display: flex;
	justify-content: center;
	align-items: center;
  	position: relative;
 	font-weight: 300;
 	font-size: 4.5em;
  	color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, "EB Garamond", serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

@keyframes transition {
0%   { opacity:0; }
100% { opacity:1; }
}

nav#accueil {
	opacity:0;animation: transition 1s ease-in-out 2s forwards;
}

footer#accueil{
	opacity:0;animation: transition 1s ease-in-out 2s forwards;
	}
	